:root {
    --mainCol : #76cdd8;
    --secCol: #019999;
}

.col-lg-12.tm-bg-color-secondary.tm-text-color-white.tm-font-thin.tm-form-footer,
.btn,
.tm-bg-color-secondary.tm-text-color-white.text-center.tm-font-thin.tm-pricing-header {
    background-color: var(--secCol);
}

.tm-pricing-table, .btn {
    border: 1px solid var(--secCol);
}

.row.tm-section.tm-card.tm-col-md-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.tm-flex-center.p-5.tm-bg-color-primary, .col-lg-12.tm-form-header.pl-5.pr-5 {
    background-color: #76cdd8;
}

.tm-text-color-primary {
    color: var(--mainCol);
}

section:hover {
    color: var(--mainCol);
}

section:hover .col-sm-12.col-md-12.col-lg-6.col-xl-6:nth-child(2)::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 70px 70px 0;
    border-color: transparent var(--mainCol) transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.row.tm-section.tm-card.tm-col-md-reverse:hover .col-sm-12.col-md-12.col-lg-6.col-xl-6:nth-child(2)::after{
    content: '';
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    border: 70px solid transparent;
    border-left: 0px solid var(--mainCol);
    border-top: 70px solid var(--mainCol); 
}

.img-fluid:hover {
    transform: scale(1.1);
}

.btn-primary:hover {
    background:rgb(118, 205, 216);
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-pricing-table:hover .btn-secondary{
    background: #24d4d4;
}

.tm-pricing-body:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4
}

.tm-pricing-body:hover .btn{
    background: #24d4d4;
}

.tm-pricing-body:hover .tm-pricing-discount {
    display:block;
}

.row.tm-container-inner.tm-contact-form:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

